<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="Cadena" connectionString="Data Source=LAPTOP-IU64V9S0\SQLEXPRESS; Initial Catalog = BDVentas; User ID = usuario; Password = 12345; "
          providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>